body {
  font-family: Arial;
  margin: 40px;
  background: #f8f8f8;
}

h1 {
  color: #2980b9;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 15px;
  background: #2980b9;
  color: white;
  border: none;
  cursor: pointer;
}

ul li {
  background: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
.login-bg {
  background: #e0e7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.erro {
  color: red;
  font-size: 14px;
}
